<footer class="bg-body-tertiary text-white pt-4 pb-2">
    <div class="container">
        <div class="row">
            
            <div class="col-md-6 mb-3">
                <a class="d-flex align-items-center mb-2 text-white text-decoration-none" href="#">
                    <span class="fs-5">AUTO MOTORES</span>
                </a>
                <p class="text-muted small">
                    © 2025 Taller Enderezada y Pintura. Todos los derechos reservados.
                </p>
            </div>

            <div class="col-md-6 mb-3">
                <h5 class="text-white">Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-muted text-decoration-none">Home</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Nosotros</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Servicios</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">Contacto</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>